@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{

}
@layer utilities{
  
}


  /*Animation på billede */
.animate__swing {
	-webkit-animation: animate_swing 2s linear infinite both;
	        animation: animate_swing 2s linear infinite both;
}

.animate__fadeInUp {
  -webkit-animation: animate_fadeInUp 5s linear infinite both;
          animation: animate_fadeInUp 5s linear infinite both;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@layer base {
  body {
    font-family: 'Rubik Mono One', sans-serif;
  }
}


    @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

    .rubik-mono-one {
        font-family: 'Rubik Mono One', sans-serif;
    }
