---
---
<div class="bg-gray-800 text-white p-4">
   
    <nav>
        <ul class="flex space-x-4">
            <li><a href="#home" class="hover:text-gray-400">Home</a></li>
            <li><a href="#about" class="hover:text-gray-400">About</a></li>
            <li><a href="#services" class="hover:text-gray-400">Services</a></li>
            <li><a href="#contact" class="hover:text-gray-400">Contact</a></li>
        </ul>
    </nav>
</div>
