---

---

<div class="bg-black text-white p-4">
  <h1 class="text-5xl text-center rubik-mono-one">BLUES IN THE BLUE</h1>
  <h2 class="text-3xl text-center">Blues med sjæl og dybde</h2>
  <p class="text-center">Læn dig tilbage og lad tonerne tage dig med. En aften fyldt med nærvær, nerve og blues, når Midnight Groove fylder salen med varme og dybe grooves.</p>
  <h2 class="text-4xl transform rotate-90 origin-left">Fredag d. 07/03</h2>
  <div class="grid grid-cols-7 grid-rows 3 gap-4 p-4">
    <div class="text-center col-span-4 grid-rows-12 col-start-3 max-h-[90vh] overflow-hidden row-start-1 row-span-3">
      <img src="/baggrund.webp" alt="Image 1" class="w-full h-auto" />
    </div>
    <div class="text-center col-span-2 col-start-3 row-start-1 row-span-2">
      <img src="/motiv.webp" alt="Image 2" class="w-full h-auto animate__fadeInUp" />
    </div>
    <div class="text-center col-span-1 col-start-6 row-start-2 row-span-1">
      <img src="/text.webp" alt="Image 3" class="w-full h-auto animate__swing" />
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

  .rubik-mono-one {
    font-family: "Rubik Mono One", sans-serif;
  }
</style>
