---

---

<div class="grid grid-cols-7 grid-rows 3 gap-4 p-4">
  <div class="text-center col-span-4 grid-rows-12 col-start-3 max-h-[90vh] overflow-hidden row-start-1 row-span-3">
    <img src="/baggrund.webp" alt="Image 1" class="w-full h-auto" />
  </div>
  <div class="text-center col-span-2 col-start-3 row-start-1 row-span-2">
    <img src="/motiv.webp" alt="Image 2" class="w-full h-auto" />
  </div>
  <div class="text-center col-span-1 col-start-6 row-start-2 row-span-1">
    <img src="/text.webp" alt="Image 3" class="w-full h-auto animate_animated animate__swing animate_infinite" />
  </div>
</div>
